body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-image: url("./images/background.jpg");
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
}

.main {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 40px 10%;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex: 1 0 10%;
  padding: 8px 15px;
  height: 30%;
  min-height: 350px;
  min-width: 290px;
  max-width: 15%;
  background-color: #1d2225;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.3)
  );
  margin: 4px 6px;
  border-radius: 5px;
  border: 6px solid white;
  flex-direction: column;
}

.card:hover .card-container{
  transform: rotateY( 180deg );
  transition: transform 0.5s;
}

.card-container{  
      display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* Header */

.card-header {
  margin: 10px 0px;
  display: flex;
  background-color: aliceblue;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 2px;
  padding: 1px 2px;
  justify-content: space-between;
}

.nome {
  font-weight: bold;
}

.id {
  color: white;
  background-color: #697277;
  width: 20px;
  border-radius: 20px;
  text-align: center;
}

/* Imagem */
.card-img {
  display: flex;
  background-color: aliceblue;
  width: 100%;
  height: 55%;
  background-image: url("./images/placeholder.png"),
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  background-color: antiquewhite;
}

/* Corpo do card */
.card-body {
  display: flex;
  flex-wrap: wrap;
  background-color: #697277;
  height: 40%;
  width: 100%;
  margin: 6px 0px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 2px;
}
.texto{
    font-size: 11px;
    margin: 7px;
}

/* Footer do card */
.card-footer{
    display:flex;
    color:white;
    justify-content: flex-end;
}

.pv{
    color: #d06b5b;
}
.pm{
    color: #5b95d0;
}

.back {  
  transform: rotateY( 180deg );
}

.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  backface-visibility: hidden;
}